@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>.Id code challenge</h1>
    <p class="lead">This code challenge is a mandotory pre-step for us to invite you for the technical/design interview.</p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Problem solving</h2>
        <p> Fix at least couple of defects to display correct data.</p>
    </div>
    <div class="col-md-3">
        <h2>Quality</h2>
        <p>Think of a way to improve the code quality, then implement it. This could include implementing a unit or integration test</p>
    </div>
    <div class="col-md-3">
        <h2>Performance</h2>
        <p>Think and implement a different approach that you may improve the performance.</p>
    </div>
    <div class="col-md-3">
        <h2>Innovation</h2>
        <p>Think of any part you would rewrite it in a different  way and implement.</p>
    </div>
</div>