@model IEnumerable<Data.ViewModel.DataModel>
@section Scripts
{
	<script>
		$(function () {
			$("#Data_SelectedList").change(function (e) {
				var val = $(this).val();
				$("#dataPartial").load("/Scores/DataGrid?stateId=" + val);
			});
		});
	</script>
}
@{
	ViewBag.Title = "All data";
}

<h2>All data by state</h2>
<div class="col-md-3"></div>
<div class="row col-md-6">
	@{
		List<SelectListItem> states = ViewData["States"] as List<SelectListItem>;
	}
	@Html.DropDownList("Data_SelectedList", states)
</div>
<div class="col-md-3"></div>
<br /><br />
<div id="dataPartial">
	@Html.Partial("DataGrid", Model)
</div>

